# Heroku用にIP設定
SetEnvIf X-Forwarded-For 58.80.194.198 InformAllowIP
SetEnvIf X-Forwarded-For 54.173.229.200 HerokuAllowIP1
SetEnvIf X-Forwarded-For 54.175.230.252 HerokuAllowIP2

# アクセス制限
Require all denied

# IP許可
Require local
Require env InformAllowIP
Require env HerokuAllowIP1
Require env HerokuAllowIP2



